.container {
    display: grid;
    grid-template-columns: auto 30% 30% auto;
}

.cart {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-tittle,
.items-tittle {
    text-align: center;
    margin: 10px 0 10px 0;
}

.items {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.items__tittle {
    text-align: center;
}

.div__item {
    display: grid;
    grid-template-columns: auto auto minmax(30%, 50%) auto;
    border: 1px solid gray;
}

.div__img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 7vw;
    height: auto;
    margin: 10px 0 10px 0;
}

.div__item_goods-content {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div__button {
    min-width: 5vw;
    margin: 10px 0 10px 0;
}

.display-none {
    display: none;
}

.items-search {
    text-align: center;
    margin: 0 0 17px 0;
    min-height: 20px;
    font-size: 14px;
}

.items-search:focus,
.items-search:hover {
    outline: 2px solid gray;
    border-color: transparent;
}