.wrap-container {
    display: grid;
    grid-template-columns: auto 50% auto;
    justify-content: center;
    align-items: center;
}

.arrow-left {
    transform: rotate(180deg);
}

.big_picture,
.big_picture img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.big_picture {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5vw;
    justify-content: center;
}

.gallery__image {
    margin: 5vh 0 0 0;
    max-height: 25vh;
}